metrics/vanilla/16s_idle_interval/server_latency_server.csv filter=lfs diff=lfs merge=lfs -text
metrics/vanilla/32s_idle_interval/server_latency_server.csv filter=lfs diff=lfs merge=lfs -text
metrics/vanilla/32s_walk_interval/server_latency_server.csv filter=lfs diff=lfs merge=lfs -text
